{{ form_start(form) }}
    {{ form_widget(form.libelle) }}
<br><br>
<label>Votre reponse</label>


<div class="dv" id="exp_list" data-prototype="{{ form_widget(form.reponses.vars.prototype)|e('html_attr') }}">
    {% for row in form.reponses %}
        {{ form_widget(row) }}
    {% endfor %}
</div>


<br><br>
<button class="btn">{{ button_label|default('Save') }}</button>


{{ form_end(form) }}
