{% extends 'base.html.twig' %}

{% block title %}Equipe index{% endblock %}

{% block body %}
    <h1>Equipe index</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Libelle</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for campagne in campaigns %}
            <tr>
                <td>{{ campagne.id }}</td>
                <td>{{  campagne.libelle}}</td>
                <td>
                    <a href="{{ path('campaign_update', {'id': campagne.id}) }}">{{ "edit"|trans }}</a>

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('campaign_new') }}">Create new</a>
{% endblock %}
