{% extends 'base.html.twig' %}

{% block title %}Joueur index{% endblock %}

{% block body %}
<div class="m-portlet m-portlet--mobile">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">
                    Configuration la liste des joueurs
                </h3>
            </div>
        </div>
        <div class="m-portlet__head-tools">
            <ul class="m-portlet__nav">
                <li class="m-portlet__nav-item">
                    <a href="{{ path('joueur_new') }}" class="btn btn-accent m-btn m-btn--custom m-btn--pill m-btn--icon m-btn--air">
												<span>
													<i class="la la-plus"></i>
													<span>Ajouter un joueur</span>
												</span>
                    </a>
                </li>
                <li class="m-portlet__nav-item"></li>

            </ul>
        </div>
    </div>
    <div class="m-portlet__body">
        <table class="table table-striped- table-bordered table-hover table-checkable"  id="m_table_1">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>

                <th>Nom</th>
                <th>Equipe</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for joueur in joueurs %}
            <tr>
                <td>{{ joueur.id }}</td>
                <td>{{ joueur.email }}</td>

                <td>{{ joueur.Nom }}</td>
                <td>{{ joueur.equipe }}</td>
                <td>
                    <a href="{{ path('joueur_show', {'id': joueur.id}) }}">show</a>
                    <a href="{{ path('joueur_edit', {'id': joueur.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    </div>
</div>
{% endblock %}
