<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Plan My Campaign</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="{{ asset('integration/css/main.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
          integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
          crossorigin="anonymous"/>
    <link rel="stylesheet" href="{{ asset('integration/node_modules/mobile-drag-drop/default.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <script src="{{ asset('integration/node_modules/mobile-drag-drop/index.min.js') }}"></script>

    <!--optional import of scroll behaviour-->
    <script src="{{ asset('integration/node_modules/mobile-drag-drop/scroll-behaviour.min.js') }}"></script>
    <script>
        // options are optional ;)
        MobileDragDrop.polyfill({
            // use this to make use of the scroll behaviour
            dragImageTranslateOverride: MobileDragDrop.scrollBehaviourDragImageTranslateOverride
        });
    </script>

    <!-- css plugin template transformers -->
    <link rel="stylesheet" href="{{ asset('transformers/css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('transformers/css/animate.css') }}">
</head>
<body>
<div id="login">
    <div class="container_ipad_view" id="login_transformers">
        <div class="row_transformers">
            <div class="logo"><img src="{{ asset('transformers/images/logo.png') }}"></div>
        </div>
        <form action="" id="loginForm" name="loginForm" class="login_transformers_form">

                        <label for="exampleInputEmail1">Email address</label>
                        <input name="email" required type="email" class="form-control" id="exampleInputEmail1"
                               aria-describedby="emailHelp" placeholder="Enter email">
                        <small id="emailHelp" class="form-text text-danger fade">Bad credential</small>


                    <button type="submit" class="btn btn-primary w-100">Commencer</button>


        </form>
    </div>
</div>
<div id="videoTeaser">

    <div class="container_ipad_view" id="htp_transformers">
        <div class="left_col">
            <div class="row_transformers">
                <div class="htp_logo"><img src="{{ asset('transformers/images/logo.png') }}"></div>
            </div>
            <div class="row_transformers">
                <h2 class="htp_h2_title">DÉMONSTRATION DE JEU</h2>
            </div>
            <div class="row_transformers">
                <video id="video1" class="video_htp" controls>
                    <source src="{{ asset('integration/media/aa_bb.mp4') }}" type="video/mp4">
                </video>
            </div>


        </div>
        <div class="right_col">
            <div class="htp_tranformer_image"><img src="{{ asset('transformers/images/tranformer_image.png')}}"></div>
        </div>
    </div>
</div>
<div id="gamePlay" class="page-wrapper hide">
    <div class="container_ipad_view level1_transformers" id="gameMain">

        <div class="row_transformers">

            <div class="level_logo">
                <img src="{{ asset('transformers/images/logo.png') }}">
            </div>

            <div class="level1_team_box">
                <h2 class="score_h2_title">Level <span id="gameLevel"></span></h2>


                <h3 class="score_h3_title">équipe :<br><strong>
                        <div id="team"></div>
                    </strong></h3>

            </div>

            <div class="level1_transformer_signs_box">
                <div class="transformer_sign" id="b1"></div>
                <div class="transformer_sign" id="b2"></div>
                <div class="transformer_sign" id="b3"></div>

                <div class="transformer_bar_signs">
                    <div class="bar_sign"></div>
                    <div class="bar_sign"></div>
                    <div class="bar_sign"></div>
                    <div class="bar_sign"></div>
                    <div class="bar_sign"></div>
                    <div class="bar_sign"></div>
                    <div class="bar_sign"></div>
                    <div class="bar_sign"></div>
                    <div class="bar_sign"></div>
                    <div class="bar_sign"></div>
                </div>
            </div>
            <div class="box_timer_container">
                <div id="ten-countdown"></div>
            </div>+
            <div id="profile_action" class="box_profile_container">
                <div class="row_transformers center_content">
                    <button onclick="return logout()" class="btn btn-danger">LOGOUT</button>
                </div>

                <div class="profile_avatar_name" id="nomPlayer"></div>

            </div>

        </div>

        <div class="section_left_title">Positionnez ces actions sur le planning</div>

            <div class="draggable-list card-body section_left_project_container">
            </div>


        <div class="scroll_down_list"></div>
        <div class="scroll_up_list"></div>

        <div class="tableau_title" id="cible"></div>

        <div class="delete_lvl1" onclick="return prepareRemove(this);"></div>

        <div class="cata-sub-nav">
        <div class="tableau_semaines">
            <div class="box_x_scrollabele">
                <div class="table_titles_row">
                    <div class="title_column_tab_semaine da1">Février - S1</div>
                    <div class="title_column_tab_semaine da2">Février - S2</div>
                    <div class="title_column_tab_semaine da3">Février - S3</div>
                    <div class="title_column_tab_semaine da4">Février - S4</div>
                    <div class="title_column_tab_semaine da5">Mars - S1</div>
                    <div class="title_column_tab_semaine da6">Mars - S2</div>
                    <div class="title_column_tab_semaine da7">Mars - S3</div>
                    <div class="title_column_tab_semaine da8">Mars - S4</div>
                </div>
                <div class="game-container in_queue_table_scroller">
                    <div class="flex-container target-table" data-id="1"></div>
                </div>
            </div>
        </div>
        </div>
        <div class="right_arrow_scroller"></div>
        <div class="left_arrow_scroller"></div>
        <div class="tableau_semaines_2">
            <div class="box_x_scrollabel_2">
                <div class="game-container">
                    <div class="flex-container target-table" data-id="2"></div>
                </div>
            </div>
        </div>


        <div id="score_container">

            <div class="lvl1_score_circle1">
                <p>Mon Score</p>
                <p><strong><span class="score" id="myScore">15%</span></strong></p>
            </div>
{#            <div class="lvl1_score_circle2">#}
{#                <p>Score équipe</p>#}
{#                <p><strong>32%</strong></p>#}
{#            </div>#}
{#            <div class="lvl1_score_circle3">#}
{#                <p>Meilleur score</p>#}
{#                <p><strong>85%</strong></p>#}
{#            </div>#}

            <div class="impact-1">IMPACT SUR HCPs</div>
            <div class="impact-2">FACE TO FACE</div>
            <div class="impact-3">VISITE REMOTE</div>
            <div class="impact-4">TRIGGER EMAIL</div>
            <div class="impact-5">HQ EMAIL</div>
            <div class="impact-6">WEBINAR</div>
            <div class="impact-7">E-EVENT</div>
            <div class="impact-8">MEDEO</div>

            <div class="impact_progress_1" >
                <div style="width: 0%;max-width: 100%" id="0"></div>
            </div>

            <div class="impact_progress_2">
                <div style="width: 0%;max-width: 100%"  id="1"></div>
            </div>

            <div class="impact_progress_3">
                <div style="width: 0%;max-width: 100%"  id="2"></div>
            </div>

            <div class="impact_progress_4">
                <div style="width: 0%;max-width: 100%"  id="5"></div>
            </div>

            <div class="impact_progress_5">
                <div style="width: 0%;max-width: 100%"  id="4"></div>            </div>

            <div class="impact_progress_6">
                <div style="width: 0%;max-width: 100%"  id="3"></div>            </div>

            <div class="impact_progress_7">
                <div style="width: 0%;max-width: 100%"  id="8"></div>            </div>

            <div class="impact_progress_8">
                <div style="width: 0%;max-width: 100%"  id="9"></div>            </div>

        </div>
    </div>
</div>
<div id="result"></div>
<!------------->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="close_popup">X</div>
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">

        <div class="modal-content">
            <form id="enableLevelTwoForm" name="enableLevelTwoForm">
            <div class="modal-header">
                <div class="modal-title modal-title" id="exampleModalLabel2">Félication vous ETES AU LEVEL II</div>
            </div>
            <div class="modal-body">
                <div class="medeo_deloqued">
                    Les action de la campagne <strong>MEDEO</strong> sont maintenant débloquées.Placez ces actions dans l'ordre pour gagné le jeu!
                </div>
            </div>
            <div class="modal-footer center">
                <button type="submit" class="btn btn-primary btn-lg">Save changes</button>
            </div>
            </form>
        </div>
    </div>
</div>


<div class="modal fade" id="exampleModal5" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel5"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">

        <div class="modal-content">

            <div class="modal-header">
                <div class="modal-title modal-title" id="exampleModalLabel5">BADGE 3</div>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger" role="alert" id="patt" style="display: none">
                    Mauvaise réponse!  Essayez encore de trouver la bonne réponse.<br>
                </div>
                <div class="row_transformers">
                    <label class="switch">
                        <input type="radio" name="partenaire" value="0">
                        <span class="slider"></span>
                    </label>
                    <div class="option_txt">Les canaux digitaux nous permettent d’être en contacte avec nos HCP et répondre à leurs attentes en information médicale, à tout moment.</div>
                </div>
                <div class="row_transformers">
                    <label class="switch">
                        <input type="radio" name="orch" value="1">
                        <span class="slider"></span>
                    </label>
                    <div class="option_txt">Les canaux digitaux ne sont pas disponibles, et sont difficiles à mette en place</div>
                </div>
                <div class="row_transformers">
                    <label class="switch">
                        <input type="radio" name="orch" value="2">
                        <span class="slider"></span>
                    </label>
                    <div class="option_txt">Les canaux digitaux ne concernent pas l’industrie pharmaceutique.</div>
                </div>

            </div>
            <div class="modal-footer center">
                <button onclick="verifPartenaire()" class="btn btn-primary btn-lg">Save changes</button>
            </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel4"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">

        <div class="modal-content">

            <div class="modal-header">
                <div class="modal-title modal-title" id="exampleModalLabel4">BADGE 2</div>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger" role="alert" id="orche" style="display: none">
                    Mauvaise réponse!  Essayez encore de trouver la bonne réponse.<br>
                </div>
                <div class="row_transformers">
                    <label class="switch">
                        <input type="radio" name="orch" value="0">
                        <span class="slider"></span>
                    </label>
                    <div class="option_txt">La Customer Journey, traduit nos messages via tous les canaux. Elle est essentielle à notre stratégie.</div>
                </div>
                <div class="row_transformers">
                    <label class="switch">
                        <input type="radio" name="orch" value="1">
                        <span class="slider"></span>
                    </label>
                    <div class="option_txt">La Customer Journey traduit la feuille de route de l’eadv</div>
                </div>
                <div class="row_transformers">
                    <label class="switch">
                        <input type="radio" name="orch" value="2">
                        <span class="slider"></span>
                    </label>
                    <div class="option_txt">La Customer Journey n’est pas importante.</div>
                </div>

            </div>
            <div class="modal-footer center">
                <button onclick="verifOrchestrateur()" class="btn btn-primary btn-lg">Save changes</button>
            </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel3"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">

        <div class="modal-content">

                <div class="modal-header">
                    <div class="modal-title modal-title" id="exampleModalLabel3">BADGE 1</div>
                </div>
                <div class="modal-body">
                    <div class="alert alert-danger" role="alert" id="promo" style="display: none">
                        Mauvaise réponse!  Essayez encore de trouver la bonne réponse.<br>
                    </div>
                    <div class="row_transformers">
                        <label class="switch">
                            <input type="radio" name="promoteur" value="0">
                            <span class="slider"></span>
                        </label>
                        <div class="option_txt">Proposer et avoir plus de consentement POA et hors POA, est un élément clés pour être au niveau Promoteur.</div>
                    </div>
                    <div class="row_transformers">
                        <label class="switch">
                            <input type="radio" name="promoteur" value="1">
                            <span class="slider"></span>
                        </label>
                        <div class="option_txt">Les consentements ne sont pas nécessaires pour notre stratégie</div>
                    </div>
                    <div class="row_transformers">
                        <label class="switch">
                            <input type="radio" name="promoteur" value="2">
                            <span class="slider"></span>
                        </label>
                        <div class="option_txt">Les consentements ne peuvent être proposés qu’aux MG</div>
                    </div>

                </div>
                <div class="modal-footer center">
                    <button onclick="verifPromoteur()" class="btn btn-primary btn-lg">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

<script src="{{ asset('integration/scripts/api.js') }}"></script>
<script src="{{ asset('integration/scripts/plugins/draggable-list.js') }}"></script>
<script src="{{ asset('integration/scripts/plugins/game-borad.js') }}"></script>
<script src="{{ asset('integration/scripts/plugins/ajax-interceptor.js') }}"></script>
<script src="{{ asset('integration/scripts/plugins/stopwatch.js') }}"></script>
<script src="{{ asset('integration/scripts/plugins/score.js') }}"></script>
<script src="{{ asset('integration/scripts/ajax-modal.js') }}"></script>
<script src="{{ asset('integration/scripts/models.js') }}"></script>
<script src="{{ asset('integration/scripts/eventDispatcher.js') }}"></script>
<script src="{{ asset('integration/scripts/plugins/chat.js') }}"></script>
<script src="{{ asset('integration/scripts/application.js') }}"></script>
<script src="{{ asset('integration/scripts/main.js') }}"></script>


<!-- tranformers template plug -->
<script src="{{ asset('transformers/js/main.js') }}"></script>
<script>
    function logout(){
        window.localStorage.clear();
        window.location.reload();
            }
     function verifPromoteur(){
        let choix = $('input[name=promoteur]:checked').val();
        if (choix != 0){
            $('#promo').show();
        }else{
            $('div#b1').addClass('active');
            $('#exampleModal3').modal('toggle');
        }


            }

    function verifPartenaire(){
        let choix = $('input[name=partenaire]:checked').val();
        if (choix != 0){
            $('#patt').show();
        }else{
            $('div#b3').addClass('active');
            $('#exampleModal5').modal('toggle');
        }
    }
    function verifOrchestrateur(){
        let choix = $('input[name=orch]:checked').val();
        if (choix != 0){
            $('#orche').show();
        }else{
            $('div#b2').addClass('active');
            $('#exampleModal4').modal('toggle');
        }
    }
</script>
</body>
</html>
