<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" href="{{ asset('AdminScore/css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('AdminScore/css/animate.css') }}">
</head>
<body>

<div class="container_ipad_view" id="score_transformers">

    <div class="row_transformers">
        <div class="score_logo"><img src="{{ asset('AdminScore/images/logo.png') }}"></div>
    </div>

    <div class="row_transformers">
        <h1 class="score_h1_title">Classement Final</h1>
    </div>







    <div class="scoll-box">
        <div class="row_transformers">
            <div class="left_score">
                <div class="row_transformers">

                    <h2 class="score_h2_title">Meilleur score: <span class="c1_prct_score">{{ topScore }}%</span></h2>


                    <div class="row_transformers">
                        <div class="top_star_score">
                            <img src="{{ asset('AdminScore/images/top_1_1.png')}}">
                        </div>
                        <div class="equipe_top_score">

                            <h3 class="score_h3_title">équipe :<br><strong>{{ bestEquipe }}</strong></h3>
                            {% for member in  dataBestEquipe%}
                                <p>{{ member.name }} : {{ member.score }}%</p>
                            {% endfor %}

                        </div>
                    </div>
                </div>
                <div class="row_transformers">
                    <h2 class="score_h2_title">Top 3 membres</h2>
                </div>
                <div class="row_transformers">

                    {% for key, bestScore in dataTopThreeScore %}
                            {% set assetImg = asset('AdminScore/images/top_1_2.png') %}
                            {% if key == 1 %}
                                {% set assetImg = asset('AdminScore/images/top_2_1.png') %}
                            {% elseif key == 2 %}
                                {% set assetImg = asset('AdminScore/images/top_3_1.png') %}
                            {% endif %}
                        <div class="top1_3_members_line"><img src="{{ assetImg}}">{{ bestScore.name }} : {{ bestScore.score }}% : <span class="c2_team_name">équipe {{  bestScore.equipe}}</span></div>
                    {% endfor %}


                </div>


            </div>
            <div class="right_score">

                {% for scorEquipe in dataAllScoresEquipe %}
                    <div class="row_transformers">
                        <div class="row_transformers">
                            <div class="col_2_score">
                                <h3 class="score_h3_title">équipe : <strong>{{ scorEquipe.equipe }}</strong></h3>
                            </div>
                            <div class="col_1_score">
                                <h3 class="score_h3_title"><span class="c4_prct_score">{{ scorEquipe.moyenneScore }}%</span></h3>
                            </div>
                        </div>

                        <div class="row_transformers">
                            {% for  index, member in scorEquipe.members%}
                                {% if index % 2 == 0 %}
                                    <div class="col_1_score">
                                        <p>{{ member.name }} : {{ member.score }}%</p>

                                {% endif %}
                                {% if index % 2 == 1 %}
                                    <p>{{ member.name }} : {{ member.score }}%</p>
                                    </div>
                                {% endif %}

                            {% endfor %}

                        </div>

                    </div>

                {% endfor %}



            </div>

        </div>


    </div>





    <div class="powred_by"> <a style="color:white" href="{{ path('game_session_index') }}">Powered by PixelsTrade</a></div>

</div>

<script type="text/javascript" src="{{ asset('integration/scripts/jquery.min.js') }}"></script>
<script src="{{ asset('integration/scripts/main.js') }}"></script>
</body>
</html>